#projectsMainDiv{
    background-color: #090909;
    height: 100vh;
    text-align: center;
    color: #FDCA00;
    font-size: 4vw;
    font-family: montserrat;
}

#projectsWarningDiv{
    padding-top: 20vw;
}

#projectsText{
    margin: 0 auto;
}

#projectsBackButton{
    margin: 1vw;
    border-radius: 0.5vw;
    padding: 1vw;
    font-family: raleway;
    font-weight: 500;
    font-size: 3vw;
    background-color: transparent;
    border:none;
    color: #d9d9d9;
}

#projectsBackButton:hover{
    background-color: #111111;
}

@font-face {
    font-family: montserrat;
    src: url(../../assets/fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../../assets/fonts/Raleway-VariableFont_wght.ttf);
}