#navbarMainDiv{
    position: absolute;
    background-color: transparent;
    height: 95px;
    text-align: left;
    padding-top: 35px;
    padding-left: 50px;
    z-index: 100;
    
}

@font-face {
    font-family: poppins;
    src: url(../../assets/fonts/Poppins-Regular.ttf);
}

.navbarButton{
    padding-right: 100px;
    border: 0 none;
    background-color: transparent;
    font-family: poppins;
    font-size: 28px;
    color: white;
}

.navbarButton:hover{
    color: #FDCA00;
    transition-timing-function: ease-in;
    transition-duration: 0.1s;
}