:root{
  --primary-color:#ff582cff;
  --primary-highlight-color:rgb(250, 54, 0);
}

.App{
  background-color: #282a28ff;
  width: 100vw;
  height: 281.25vw;
  overflow-x: hidden;
}

#nameTitle{
  position: absolute;
  top: 10vw;
  left: 20vw;
  color: var(--primary-color);
  font-family: montserrat;
  font-weight: 200;
  font-size: 12vw;
  line-height: 12vw;
  filter: drop-shadow(-1vw 1vw 0.4vw #000);
}

@font-face {
  font-family: montserrat;
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: montserrat-italic;
  src: url(./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}


#squaresLeft1Div{
  position: absolute;
  top:30vw;
}

#squaresLeft2Div{
  position: absolute;
  top:80vw;
}

#squaresLeft3Div{
  position: absolute;
  top:180vw;
}

#dentDescriptionDiv{
  position: absolute;
  top:50vw;
  left:34vw;
}

#selfDescriptionDiv{
  position:absolute;
  top:58vw;
  left: 48vw;
}

#selfDescriptionHello{
  color: var(--primary-color);
  font-family: montserrat-italic;
  font-size: 4vw;
  font-weight: 500;
  margin-bottom: 1vw;
}

#selfDescriptionText{
  width: 35vw;
  text-align: justify;
  color: white;
  font-family: montserrat;
  font-weight: 300;
  font-size: 1.4vw;
}

#cvIconAppDiv{
  position: absolute;
  left:45vw;
  top:76vw;
}


#knowMoreDiv{
  position: absolute;
  top:84vw;
  left:63vw;
  z-index: 4;
}

#knowMoreNormalText{
  font-family: montserrat;
  font-weight: 300;
  color: white;
  font-size: 1.7vw;
  padding-bottom: 1vw;
}

#knowMoreSpecialText{
  font-family: montserrat;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 2.3vw;
  line-height: 2.4vw;
}
#knowMoreSpecialText:hover{
  color: var(--primary-highlight-color);
}

a{
  text-decoration: none;
}

#projectsTitle{
  position: absolute;
  top: 113vw;
  left: 7vw;
  font-family: montserrat;
  font-weight: 700;
  font-size: 10vw;
  color: var(--primary-color);
  z-index: 2;
}

#contactsTitle{
  position: absolute;
  top: 213vw;
  left: 7vw;
  font-family: montserrat;
  font-weight: 700;
  font-size: 10vw;
  color: var(--primary-color);
  z-index: 2;
}

#projectTilesAppDiv{
  position: absolute;
  top: 130vw;
}

#projectPopupAppDiv{
  position: fixed;
  top:9vh;
  margin-left: 9vw;
  width: 82vw;
  height: 82vh;
  background-color: #313431ff;
  filter: drop-shadow(0.4vw 0.4vw 0.8vw);
  z-index: 10;
}

#contactsAppDiv{
  position: absolute;
  top:232vw;
  z-index: 10;
}

#squaresDown{
  position: absolute;
  top:225vw;
  width: 100vw;
  height: 56.25vw;
  background-image: url(./assets/images/squares-down.svg);
  background-size: 100% 100%;
}